<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>

        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="http://127.0.0.1:8000/media/assets/images/css/styles3.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <span class="text-uppercase">Gebäudedienstleistung</span>
                            <h1 class="mb-5">{{customersData.companyName}}</h1>
                                <div class="row">
                                    <div class="col">
                                    
                                        <button type="button" class="btn btn-primary">Über uns</button>
                                     </div>
                                </div>
                        </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi bi-building m-auto text-primary"></i></div>
                            <h3> Gebäudereinigung</h3>
                            <p class="lead mb-0">Jahrenlange Erfahrung & Kompetenz garantiert Ihnen das bestmögliche Ergebnis</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi bi-bookmark-check m-auto text-primary"></i></div>
                            <h3>Qualität</h3>
                            <p class="lead mb-0">Qualität und Ihre Zufriedenheit stehen für uns an ertser Stelle</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi bi-person-plus m-auto text-primary"></i></div>
                            <h3>Ansprechpartner</h3>
                            <p class="lead mb-0">Bei uns haben Sie jederzeit Ihren eigenen Ansprechpartner</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <section class="container">
    <div class="row">
        <div class="col"><img src="http://127.0.0.1:8000/media/assets/images/glasreinigung.jpg" class="img-fluid img-thumbnail" alt="..."></div>
        <div class="col my-auto showcase-text">
        <span class="text-uppercase">Über uns</span>
        <h2>{{customersData.companyName}}</h2>
        <p>{{customersData.aboutUsText}}
        </div>
    </section>

    </div>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({{customersData.image1.url}})"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Glasreinigung</h2>
                        <p class="lead mb-0"> Reinigung von einfach, zweifach, dreifach und mehrfach Verglasungen. Ebenfalls reinigen wir Ihre Einfassung und deden Glasrahmen im Reinigungsprozesses.</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url({{customersData.image2.url}})"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>Unterhaltsreinigung</h2>
                        <p class="lead mb-0">Gemeinsam planen wir mit Ihnen die Projektdurchführung ihres Objekts und stehen dabei beratend zur Seite</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url({{customersData.image3.url}})"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>Industrieeinigung</h2>
                        <p class="lead mb-0">Für die Reinigung von Industrieobjekten sind wir mit den optimalen Geräten und Mitteln ausgestattet.</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">Das sagen unsere Kundden</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="http://127.0.0.1:8000/media/assets/images/testimonials-1.jpg" alt="..." />
                            <h5>Mark Zuckerberg.</h5>
                            <span>Facebook</span>
                            <p class="font-weight-light mb-0">"Super arbeit, bin sehr zufrieden"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="http://127.0.0.1:8000/media/assets/images/testimonials-2.jpg" alt="..." />
                            <h5>Elon Musk</h5>
                            <span>Tesla</span>

                            <p class="font-weight-light mb-0">"Wir konnten alle Objekte bestens reinigen lassen und sind glpcklich über das Ergebnis"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="http://127.0.0.1:8000/media/assets/images/testimonials-3.jpg" alt="..." />
                            <h5>Sinan Alkis</h5>
                            <span>Django Admin</span>
                            <p class="font-weight-light mb-0">"Ich liebe es!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Kontakt aufnehmen</h2>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="E-Mail-Adresse" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <p>To activate this form, sign up at</p>
                                    <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">Über uns</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Kontakt</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Impressum</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Datenschutzerklärung</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; {{customersData.companyName}} 2021. Alle Rechte vorbehalten.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>